<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Let It Ride</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <ion-item>
    <ion-label>Bet</ion-label>
    <ion-input [(ngModel)]="betBasic"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Three Card</ion-label>
    <ion-input [(ngModel)]="betThreeCard"></ion-input>
  </ion-item>

  <let-it-ride-chip-area [bets]="playerBets" [wins]="playerWins">
  </let-it-ride-chip-area>

  <div *ngIf="cardsInPlay != 0">
    <span *ngFor="let card of dealerCards">
      <card [card]="card"></card>
    </span>
  </div>
  <ion-grid *ngIf="cardsInPlay != 0">
    <ion-row>
      <ion-col *ngFor="let card of playerCards">
        <card [card]="card"></card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="!isPlaying">
    <button ion-button primary (click)=startPlay()>Play</button>
  </div>
  <div *ngIf="isPlaying ">
    <button ion-button primary (click)=pullOneBack()>Pull One Back</button>
    <button ion-button primary (click)=letItRide()>Let It Ride</button>
  </div>
</ion-content>
