<!-- Generated template for the LetItRideChipAreaComponent component -->
<div>
<ion-grid no-padding>
  <ion-row>
    <ion-col offset-1 col-2>
      <chip [amount]="bets[3]"></chip>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2>
      <chip [amount]="wins[3]"></chip>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset-3 col-2>
      <chip [amount]="bets[0]"></chip>
    </ion-col>
    <ion-col offset-2 col-2>
      <chip [amount]="bets[1]"></chip>
    </ion-col>
    <ion-col offset-2 col-2>
      <chip [amount]="bets[2]"></chip>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset-2 col-2>
      <chip [amount]="wins[0]"></chip>
    </ion-col>
    <ion-col offset-2 col-2>
      <chip [amount]="wins[1]"></chip>
    </ion-col>
    <ion-col offset-2 col-2>
      <chip [amount]="wins[2]"></chip>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
